# .env fayl — bu faylni GitHub ga YUKLAMANG!
# .gitignore ga qo'shing

BOT_TOKEN=bu_yerga_bot_tokeningizni_yozing
SHEET_ID=bu_yerga_google_sheets_id_yozing
CREDENTIALS_FILE=credentials.json
ADMIN_IDS=123456789
